/* raleway-100normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Raleway Thin '),
    local('Raleway-Thin'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-100.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-100.woff) format('woff'); /* Modern Browsers */
}

/* raleway-100italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Raleway Thin italic'),
    local('Raleway-Thinitalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-100italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-100italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-200normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Raleway Extra Light '),
    local('Raleway-Extra Light'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-200.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-200.woff) format('woff'); /* Modern Browsers */
}

/* raleway-200italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Raleway Extra Light italic'),
    local('Raleway-Extra Lightitalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-200italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-200italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-300normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Raleway Light '),
    local('Raleway-Light'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-300.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-300.woff) format('woff'); /* Modern Browsers */
}

/* raleway-300italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Raleway Light italic'),
    local('Raleway-Lightitalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-300italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-300italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-400normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Raleway Regular '),
    local('Raleway-Regular'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-400.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-400.woff) format('woff'); /* Modern Browsers */
}

/* raleway-400italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Raleway Regular italic'),
    local('Raleway-Regularitalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-400italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-400italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-500normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Raleway Medium '),
    local('Raleway-Medium'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-500.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-500.woff) format('woff'); /* Modern Browsers */
}

/* raleway-500italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Raleway Medium italic'),
    local('Raleway-Mediumitalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-500italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-500italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-600normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Raleway SemiBold '),
    local('Raleway-SemiBold'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-600.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-600.woff) format('woff'); /* Modern Browsers */
}

/* raleway-600italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Raleway SemiBold italic'),
    local('Raleway-SemiBolditalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-600italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-600italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-700normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Raleway Bold '),
    local('Raleway-Bold'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-700.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-700.woff) format('woff'); /* Modern Browsers */
}

/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Raleway Bold italic'),
    local('Raleway-Bolditalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-700italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-700italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-800normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Raleway ExtraBold '),
    local('Raleway-ExtraBold'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-800.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-800.woff) format('woff'); /* Modern Browsers */
}

/* raleway-800italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Raleway ExtraBold italic'),
    local('Raleway-ExtraBolditalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-800italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-800italic.woff) format('woff'); /* Modern Browsers */
}

/* raleway-900normal - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Raleway Black '),
    local('Raleway-Black'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-900.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-900.woff) format('woff'); /* Modern Browsers */
}

/* raleway-900italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Raleway Black italic'),
    local('Raleway-Blackitalic'),
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-900italic.woff2) format('woff2'), 
    url(./assets/node_modules/typeface-raleway/files/raleway-latin-900italic.woff) format('woff'); /* Modern Browsers */
}


.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}
.tippy-box[data-animation=shift-toward][data-state=hidden]{opacity:0}.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=top]{transform:translateY(-10px)}.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=bottom]{transform:translateY(10px)}.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=left]{transform:translateX(-10px)}.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=right]{transform:translateX(10px)}
.tippy-box[data-theme~=light]{color:#26323d;box-shadow:0 0 20px 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15);background-color:#fff}.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before{border-top-color:#fff}.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before{border-bottom-color:#fff}.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before{border-left-color:#fff}.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before{border-right-color:#fff}.tippy-box[data-theme~=light]>.tippy-backdrop{background-color:#fff}.tippy-box[data-theme~=light]>.tippy-svg-arrow{fill:#fff}
.tippy-box[data-placement^=top]>.tippy-svg-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-svg-arrow:after,.tippy-box[data-placement^=top]>.tippy-svg-arrow>svg{top:16px;transform:rotate(180deg)}.tippy-box[data-placement^=bottom]>.tippy-svg-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg{bottom:16px}.tippy-box[data-placement^=left]>.tippy-svg-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-svg-arrow:after,.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg{transform:rotate(90deg);top:calc(50% - 3px);left:11px}.tippy-box[data-placement^=right]>.tippy-svg-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-svg-arrow:after,.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg{transform:rotate(-90deg);top:calc(50% - 3px);right:11px}.tippy-svg-arrow{width:16px;height:16px;fill:#333;text-align:initial}.tippy-svg-arrow,.tippy-svg-arrow>svg{position:absolute}
.topbar{position:fixed;top:0;left:0;box-sizing:border-box;background-color:#d9b3ff;margin:16px;padding:8px 16px;border-radius:8px;box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.topbar>a{text-decoration:none;font-family:"Raleway",sans-serif;font-weight:900;color:#fff;transition-duration:200ms}.topbar>a:hover{text-decoration:dotted underline;text-decoration-thickness:2px}.topbar>a.active{font-weight:300}.topbar>a:not([href]){opacity:.2;color:#000}.topbar>a:hover[href]{color:#f5f5f5}.topbar>a:not(:first-child)::before{content:"";border:2px solid #fff;border-radius:2px;width:0;margin:8px}.topbar>a[href]:not(:first-child)::before{opacity:.2}.bottombar{background-color:#7300e6;color:#fff;padding:16px;border-radius:8px 8px 0 0;opacity:0;transition-duration:600ms}body,html{padding:0;margin:0;font-family:"Raleway",sans-serif}body{background-color:azure}main{padding:calc(10vh + 64px) 16px;text-align:center;box-sizing:border-box}h1{font-weight:300;color:#40e0d0}h2{color:#7300e6}img{border-radius:16px;width:80vmin}
